@media(max-width: 576px){

    .home-largura{
        width: 300px;
    }

    .servicos-margem{
        margin-bottom: 0px;
    }

    .servicos-interna{
        padding-bottom: 0;
    }

    .tamanho-icone{
        font-size: 50px;
    }

}

@media(min-width: 577px){

    .servicos-margem-md{
        margin-bottom: 75px;
    }

}